.grid-heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "title title avatar"
        "title title avatar"
        "info info info"
    ;
    grid-auto-rows: minmax(25px, 55px);
}

.grid-heading--large {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "title title title title . avatar"
        "title title title title . avatar"
        "info info info info . avatar "
    ;
    grid-auto-rows: minmax(25px, 60px);
}

.grid-heading__title {
    grid-area: title;
}

.grid-heading__avatar {
    grid-area: avatar;
}

.grid-heading__info {
    grid-area: info;
}

.grid-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "main main main main side side"
    ;
    grid-gap: 50px;
}

.grid-body__main {
    grid-area: main;
}

.grid-body__sidebar {
    grid-area: side;
}

.btn {
    @apply text-white bg-brand rounded-lg my-2 py-0.5 px-2 mx-2
}

.btn--animate {
    @apply ease-in-out transform hover:scale-125 transition duration-300
}
