.grid-heading {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        " . title title title title . avatar ."
        " . title title title title . avatar ."
        " . info info info info info . ."
    ;
    grid-auto-rows: minmax(25px, 70px);
    /*justify-items: left;*/
    /*align-items: center;*/
    /*grid-template-areas: "title avatar";*/
}

.grid-heading__title {
    grid-area: title;
}

.grid-heading__avatar {
    grid-area: avatar;
}

.grid-heading__info {
    grid-area: info;
}

.grid-body {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        ". main main main main side side ."
    ;
    /*justify-items: left;*/
    grid-gap: 20px;
}

.grid-body__main {
    grid-area: main;
}

.grid-body__sidebar {
    grid-area: side;
}


