.grid-heading {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "title title title title . avatar"
        "title title title title . avatar"
        "info info info info . avatar "
    ;
    grid-auto-rows: minmax(25px, 60px);
}

.grid-heading__title {
    grid-area: title;
}

.grid-heading__avatar {
    grid-area: avatar;
}

.grid-heading__info {
    grid-area: info;
}

.grid-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "main main main main side side"
    ;
    grid-gap: 20px;
}

.grid-body__main {
    grid-area: main;
}

.grid-body__sidebar {
    grid-area: side;
}


